/* Footer styles */
.footer {
    background-color: #212529;
    color: #fff;
    padding-top: 30px;
    padding-bottom: 30px;
  }
  
  .footer h4 {
    color: #fff;
    font-weight: 600;
  }
  
  .footer p {
    color: #ccc;
  }
  
  .footer ul li a {
    color: #ccc;
    text-decoration: none;
    transition: color 0.3s ease;
  }
  
  .footer ul li a:hover {
    color: #fff;
  }
  
  /* Footer bottom */
  .footer-bottom {
    background-color: #181818;
    padding: 10px 0;
  }
  .footer-bottom p {
    margin: 0;
    color: #ccc;
  }
  